.container {
  display: flex;
  flex-direction: column;
}
.container > img {
  width: 400px;
  height: 400px;
  border-radius: 15px;
  object-fit: cover;
}
.container > p {
  font-family: Inknut Antiqua;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
}

p:nth-child(3) {
  font-size: 24px;
}
