.wrapper {
  background-image: url("../../../assets/images/header_bg.png");
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  background-size: cover;
  overflow: hidden;
}

.wrapper > h1 {
  position: relative;
  width: 100%;
  top: 70px;
  font-family: "Game of Thrones KG";
  font-weight: normal;
  font-size: 36px;
  color: #ffffff;
  text-shadow: 2px 3px 23px #ffb800;
  text-align: center;
  animation: h1_animation 1s;
}

.container {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.article {
  padding: 0 30px 0 30px;
  animation: article_animation 3.5s;
}
.article > h2 {
  font-family: "Game of Thrones KG";
  font-weight: normal;
  font-size: 36px;
  color: #00c2ff;
  text-shadow: 2px 4px 17px rgba(255, 255, 255, 0.58);
  margin-bottom: 80px;
  text-align: center;
}
.article > p {
  font-family: Inknut Antiqua;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
}

.white_walker {
  position: relative;
  left: -15px;
  animation: walker_animation 2s;
}

.daenerys {
  position: relative;
  right: -20px;
  animation: daenerys_animation 2s;
}
.gradient_block {
  width: 100%;
  height: 300px;
  position: absolute;
  bottom: 0;
  background: linear-gradient(180deg, rgba(4, 4, 4, 0) 0%, #101010 100%);
}
@keyframes walker_animation {
  0% {
    left: -100%;
  }
  100% {
    left: -15px;
  }
}
@keyframes daenerys_animation {
  0% {
    right: -100%;
  }
  100% {
    right: -20px;
  }
}
@keyframes h1_animation {
  0% {
    top: -100px;
  }
  100% {
    top: 70px;
  }
}
@keyframes article_animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
