.main {
  background-image: url("../../../assets/images/header_bg.png");
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.container {
  position: relative;
  min-height: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.white_walker {
  min-height: 100%;
}

.daenerys {
  min-height: 100%;
}

.container > p {
  font-style: normal;
  font-weight: normal;
  display: flex;
  color: #ffffff;
}

h1 {
  /* width: 679px;
  height: 20px;
  left: 381px;
  top: 65px; */
  width: 100%;
  font-family: "Game of Thrones KG";
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 20px;
  color: #ffffff;
  text-shadow: 2px 3px 23px #ffb800;
  text-align: center;
}

h2 {
  /* width: 538px;
  height: 20px;
  left: 452px;
  top: 284px; */

  font-family: "Game of Thrones KG";
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 20px;
  color: #00c2ff;
  text-shadow: 2px 4px 17px rgba(255, 255, 255, 0.58);
  text-align: center;
}

.container > p {
  /* width: 738px;
  height: 279px; */
  width: 50vw;

  /* left: 351px;
  top: 381px; */
  font-family: Inknut Antiqua;
  font-size: 30px;
  line-height: 59px;
  color: #ffffff;
  text-align: center;
}
