.main {
  position: relative;
  width: 400px;
  color: #fff;
  background: linear-gradient(180deg, #242424 0%, #282828 100%);
  border-radius: 14px;
}
.selected_value {
  width: 100%;
}
.main img {
  position: absolute;
  top: 20px;
  right: 20px;
}
.main .main_btn input {
  padding: 15px 20px;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 400px;
  height: 48px;
  background: linear-gradient(90.28deg, #292929 0%, #242424 100%);
  border: 1px solid #2e2e2e;
  border-radius: 14px;
  box-sizing: border-box;
  color: #fff;
  font-family: "Inknut Antiqua";
  font-weight: 400;
  font-size: 14px;
}
.main .main_content {
  width: 100%;
  max-height: 220px;
  position: absolute;
  overflow-y: scroll;
  padding: 15px;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  color: #fff;
  background: linear-gradient(90.28deg, #292929 0%, #242424 100%), #ffffff;
  border: 1px solid #2e2e2e;
  box-sizing: border-box;
  border-radius: 6px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
}
.main_item > p {
  opacity: 0.5;
}
.main .main_content .main_item {
  height: 50px;
  padding: 10px;
}
