* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

.main {
  background-color: #101010;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main > h1 {
  display: flex;
  margin: 30px 0 30px 0;
  font-family: "Game of Thrones KG";
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  color: #ffffff;
  text-align: center;
}
.container {
  background: #101010;
  display: flex;
  padding: 0 20px;
}

.container > div {
  margin: 0 20px;
}

.main > button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 24px;
  width: 405px;
  height: 105px;
  background: linear-gradient(180deg, #242424 0%, #282828 100%);
  border: 2px solid #009ce1;
  box-sizing: border-box;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4),
    -4px -4px 12px rgba(255, 255, 255, 0.05), 4px 4px 12px rgba(0, 0, 0, 0.4),
    -4px -4px 12px rgba(255, 255, 255, 0.05);
  border-radius: 38px;
  font-family: "Inknut Antiqua";
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
}
