.main {
  background-color: #101010;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main > h1 {
  margin: 30px 0 30px 0;
  font-family: "Game of Thrones KG";
  font-weight: normal;
  font-size: 36px;
  color: #ffffff;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
